.lsf-etymology-container {
  height: 90%;
  display: flex;
  flex-direction: column;
}



.lsf-etymology-list-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.lsf-etymology-term-title {
  font-family: "Roboto Condensed", sans-serif;
  color: #4e4e4e;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.8vw;
}

.lsf-etymology-term-title:hover {
  color: rgba(0, 0, 0, 0.25);
}

.etymology-term-display-header {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 400 !important;
  color: #4e4e4e !important;
}

.lsf-etymology-display > * {
  font-family: "Roboto Condensed", sans-serif;
  color: #4e4e4e;
}

.lsf-etymology-display .cards {
  flex-wrap: nowrap !important;
}

.lsf-etymology-term-modal .close.icon {
  z-index: 3 !important;
}

/*** Cards ***/
.lsf-etymology-secondary-card.video-active, .lsf-etymology-main-card.video-active {
  justify-content: center !important;
}


.lsf-etymology-secondary-card.video-active .content, .lsf-etymology-main-card.video-active .content {
  flex-grow: 0 !important;
}

.lsf-etymology-image {
  justify-self: center;
  align-self: center;
  /*padding: 10px !important;*/
  background: #fff !important;
  width: 80%;
}

.lsf-etymology-image, .lsf-etymology-video {
  margin: 10px !important;
}

.lsf-etymology-video-toggle-button {
  cursor: pointer;
}

.lsf-etymology-video-toggle-button:hover {
  opacity: 0.8;
}

/*** EXTRA CONTENT ***/
.old-lsf-asl-links-container {
  width: 50% !important;
  border-radius: 5px;
}

.old-asl-lsf-external-link {
  padding: 5px;
  font-size: 1.5vw;
}

.lsf-asl-secondary-title {
  font-style: italic;
}

.old-lsf-asl-links-column {
  text-align: center;
}