.lsf-app-footer-container {
  background: #133c55;
  position: relative;
  width: 100vw;
  padding: 5px;
  display: flex;
  flex: 0.05;
  justify-content: center;
  align-items: baseline;
  z-index: 5000;
}

.lsf-app-footer-link {
  color: #fff;
  margin: 10px;
}

.lsf-app-footer-link:hover {
  color: #59a5d8;
}

.lsf-app-footer-image {
  width: 15vw !important;
}

.lsf-app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lsf-app-footer a {
  font-size: 1.4vw;
}
